@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

:root{
  --primary-yellow:#F4E640;
  --el1:#d9d2cc;
  --el2:#f2f1ef;
  --el3:#d9b18e;
  --el4:#a67564;
  --el5:#723e31;
  --el6:#192231;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Bree Serif";
}
.tdn{
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
  background: var(--el2);
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}    