
.gridContainer{
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto;
}
.titleContainer{
    border-bottom: 1px solid black;
    padding-bottom: 12px ;
    color: black;
    width: 100%;
    height: 80%;
    font-size: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    grid-column: span 1;
}