.layout{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.layout>header{
    padding: 2rem 0 4rem 0;
    margin: auto; 
    height: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.pageHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.pageTitle{
    color: black;
    font-weight:bolder;
    display: block;
    padding: 20px;
}
.pageTitle>h1:nth-child(1){
    font-weight: 100;
    line-height: 0;
}
.pageTitle>h1:nth-child(2){
    font-size: 3.2em;
}
.pageTitle>h1:nth-child(3){
    margin-top: 5px;
    font-size: 1.2em;
    line-height: 0px;
    text-align: end;
}
.pageContent{
    height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10rem;
    
}
.pageFooter{
    background-color: black;
    color: #F4E640;
    margin-top: auto;
    text-align: center;
    padding: 10px;
    font-weight:lighter;
}
.catatouille{
    width: 150px;
    height: 150px;
    position: relative;
}
/* Responsiveness */