.recipeCardContainer{
    width: 80%;
    margin: 20px auto;
}
.link{
    text-decoration:none;
    color: black;
    display: flex;
    align-items: end;
    padding: 0;
    margin: 0;
}
.link>p{
    text-align: end;
    width: 100%;
}
.cardHeading{
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.thumbnail{
    border-left: 1.7rem solid black;
    border-bottom: 1px solid black;
    height: 200px;
    width: 100%;
    position: relative;
}
.thumbnail:hover{
    border-color: tomato;
}